@media (min-width: 240px) and (max-width: 320px) {
	.hint {
		display: none;
	}

	a.tip:hover span {
		left: -14rem;
	}
}

@media (min-width: 300px) and (max-width: 575px) {
	.methods, .diseases, .reviews, .video {
		&_nav {
			margin: 3.2rem 0 2.4rem 0;
			gap: 0.8rem;
			&-item {
				padding: 1.6rem 1.6rem 1.6rem 2rem;
			}
		}
	}

	.breadcrumb li:not(:last-child):after {
		padding: 0.5rem;
	}

	.articleWrap {
		margin-top: 3rem;
		&_nav {
			li {
				padding: 0 0 1.4rem 2rem;
			}
		}
	}

	.guide-item, .methods_list-item, .promo_list-item, .reviews_list-item {
		padding: 0; 
		width: 100%;
		&__text {
			justify-content: flex-start;
		}
	}

	.personalItem__inner-online {
		padding: 0.4rem;
	}

	.admin__slider__nav__photo,
	.doctor__slider__nav__photo {
		width: auto;
	}
	
	.admin__slider__nav .slick-track {
		margin: 0;
	}
	
	.admin__slider__nav-item {
		font-size: 1.5rem;
		line-height: 1.8rem;
		p {
			width: auto;
		}
	}

	#contacts .big {
		height: auto;
	}
	
	#contacts .about__specialists .box .img {
		height: 21rem;
	}

	#contacts .about__specialists .box .info {
		height: auto;
	}
	
	#contacts .about__specialists .box .info h4 {
		margin-bottom: 0;
		font-size: 1.5rem;
		font-weight: 500;
	}
	
	.doctor__info {
		flex-wrap: wrap;
		&__photo {
			width: 100%;
			height: 30rem;
		}
	}
	
	.doctor__slider__nav .slick-track {
		margin: 0;
	}

	.infoTop {
		padding: 0 1.5rem;
	}

	.nonresident {
		&_caption {
			margin: 0;
			h1 {
				margin: 0;
				padding: 0 0 1rem 1.5rem;
				font-size: 2.5rem;
				line-height: 2.8rem;
			}
		}

		&_list {
			margin: 1rem -1.5rem;
		}
	
		&_reviews {
			margin-bottom: 0;
		}
	
		&_consultation {
			padding: 0;
		}
	}

	.language {
		margin: 0 0 1rem 1.5rem;
	}

	.articlesItem_desc-head, .saleItem_desc-head {
		font-size: 1.6rem;
    	line-height: 1.9rem;
    	margin: 1rem 0;
	}

	.trees {
		height: auto;
	}
	
	.street {
		margin: 0.5rem 0;
	}
	
	.breadcrumb {
		margin: 0;
	}
	
	.content_head {
		margin-top: 1rem;
	}
	
	.doctor__speciality-item {
		padding: 0.5rem;
		font-size: 1.4rem;
	}
	
	.timeWork:before {
		background-size: 2rem;
		padding: 1rem;
	}
	
	.transportSchema {
		margin-top: 0;
	}
	
	.review iframe {
		height: 22.2rem;
	}
	
	.right_column .reviews-wrap .reviews-box,
	.right_column .reviews-wrap .reviews-box .item {
		padding: 0;
	}
	
	.faq__sectionTopic, .faq__topic {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
	
	.right_column .reviews-wrap .reviews-box .item .cl {
		width: 100%;
		height: 24.1rem;
	}
	
	.right_column .reviews-wrap .reviews-box .item .img {
		width: 100%;
		max-width: 100%;
		background-position: center;
	}

	p.tit1 {
		padding: 1rem 0;
	}

	.tit2, .tit4 {
		padding: 1.2rem 1.2rem 1.2rem 2.4rem;
	}

	.disease__text {
		padding: 1.2rem 3rem;
	}
	   
	.doctor__slider__nav {
		display: none;
		padding: 1.5rem 0;
	}
	   
	.howMuch__desc {
		padding: 0.5rem 0!important;
	}

	.availability {
		&__city {
			padding: 1.5rem 0 0 0;
		}
		&__otherCity {
			line-height: 1;
			padding: 2rem;
			text-align: left;
			p {
				text-align: left;
			}
		}
	}

	.specialist {
		&_annotation__photo-medal--small {
			width: 70%;
		}
		&__prodoctorov {
			width: 100%;
			margin: 2.5rem auto;
			&__text {
				margin-left: 1.2rem;
			}
		}
	}

	.doctorDetail {
		&__prodoctorov {
			width: 18rem;
			&-toptext {
				font-size: 1rem;
			}
		}
		&__prodoctorovRate__logo {
			background: url(images/icons/medals/prodoctorov.svg) 100% / 10.5rem no-repeat;
		}
	}
}

@media (min-width: 320px) and (max-width: 1024px) {
	.articleAnnounce {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}

	.faq__questions-all {
		font-size: 1.4rem;
    	line-height: 1.6rem;
		margin: 2.4rem 0;
	}

	.disease {
		&__photo {
			margin: 0 -1.5rem;
		}
	
		&__block {
			margin: 1rem 0;
			gap: 1rem 0;
		}
	}

	.direction, .method {
		&__text {
			margin: 1rem -1.5rem;
			padding: 1.5rem;
		}
		&__btn {
			margin-top: 1rem;
		}
		&__slider {
			max-width: 100%;
			&__photo {
				height: auto!important;
				width: 100%;
			}
		}
	}

	.green {
		line-height: 1;
	}

	.specialist_annotation {
		flex-flow: wrap column;
	}

	.salesWrap__list-item {
		margin-bottom: 0;
	}

	.methodTilesItem {
		height: auto;
	}
	
	.reviewsMov_item__video {
		height: 23rem;
	}
}

@media (min-width: 321px) and (max-width: 424px) {
	.hint {
		display: none
	}

	a.tip:hover span {
		left: -9.5rem;
	}
	.fastMenu-item {
		width: 47%;
	}
	.infoTop {
		padding: 0 1rem;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.testimonials_slider__item-video--bg {
		height: 29rem;
	}

	.b24-form-field-email { 
		display: none; 
	}

	.opinion_inner__head {
		text-align: center;
		border-radius: 0;
	}

	.opinion_inner__content-specialist {
		height: auto;
		&--photo {
			img {
				width: auto;
				top: 0;
			}
		}
		&--desc {
			top: 0;
		}
	}

	.opinion_inner__content-text {
		flex: 1 100%;
		padding: 0;
	}

	.articleAnnounce button {
		margin: 0;
	}

	.dms_icon {
		width: 100%;
		margin: 0;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.dms_icon,.price_dms__bold,.price_dms__text {
		font-size: 1.5rem;
	}

	.header_fluid__info { 
		order: 1; 
		flex-direction: column; 
		margin: 0;
	}

	.header_fluid__menu { 
		order: 0; 
		z-index: 10099;
	}

	.articles_slider__item-text p, 
	.testimonials_slider__item-text p, 
	.videoreviews_slider__item-text p,
	.articleWrap_questions-item--ask_text p,
	.articleWrap_questions-item--ask_photo p {
		font-size: 1.5rem;
	}

	.articles_slider__nav-item {
		flex: 100% 0;
	}

	.article_courses-item, .article_methods-item {
		width: 100%;
	}

	.articleWrap {
		h2, h3, h4, h5, h6 {
			font-size: 1.6rem;
			line-height: 2rem;
		}
	}

	.fastMenu__inner {
		gap: 2rem;
	}

	#infographic {
		margin: 4.4rem 0 4.4rem;
	}

	.infographic {
		justify-content: center;
	}

	.articles, .videoreviews, .testimonials {
		&_slider {
			&__nav {
				&-item {
					margin: 0 auto 1.5rem;
				}
			}
			&__item {
				flex-direction: column;
				&-text {
					padding: 0;
				}
			}
		}
	}

	#methodics .info.first,
	#methodics .info.second .info-header,
	#methodics .info.second .info-desc,
	#methodics .info.third,
	#methodics .info.fourth .info-header,
	#methodics .info.fourth .info-desc,
	#methodics .info.fifth {
		padding: 1.5rem;
	}

	.skype_btn, .q_btn  {
		font-size: 1.5rem;
	}
	
	.faq_answer__specialist-bottomText iframe,
	.options iframe {
		height: 19.4rem;
	}

	.news_tiles-item {
		margin-bottom: 1rem;
		padding: 0;
		max-width: 100%
	}

	.sectificates__slider-main__slide .lazy {
		background-size: contain;
		height: 26rem;
	}

	.sectificates__slider-nav__slide .mini-images {
		width: auto;
	}

	.articleWrap_questions-item {
		gap: 0;
		flex-wrap: wrap;
		&--ask,
		&--answer {
			justify-content: center;
		}
	}

	.articleWrap_parents__steps-item {
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5){
			flex: 1 100%;
		}
	}

	.articleWrap_statistics__green:nth-child(2),
	.articleWrap_statistics__blue:nth-child(2),
	.sendWhite__inputs input, 
	.sendWhite__inputs button {
    	width: 100%;
	}

	.opinion_inner__content-nav {
		flex-direction: column;
		margin: 0 -1.5rem;
	}

	.city, .docs {
		text-align: center!important;
		margin: 0!important;
	}

	.personalItem {
		width: 78%;
		margin: 0 auto;
		&__desc {
			height: auto;
		}
	}

	.methods_nav, .diseases_nav, .reviews_nav {
		flex-direction: column;
		margin: 1rem 0;
	}
	
	.reviewsItem {
		margin: 0;
	}

	.specialists {
		margin-top: 2rem;
		grid-gap: 1rem;
		justify-items: center;
	}

	.specialist_annotation__photo-medal--small {
		width: calc(100% / 2);
    	margin: 1rem auto;
	}

	.specialist_annotation__photo img {
		height: auto;
	}

	.nonresident_list__item-content--photo {
		margin-bottom: 1rem;
	}

	.card_text {
		height: 26%;
	}

	.allArticles, .allMethods, .allNews, .allReviews, .allSales, .allSpecialists {
		font-size: 1.25rem;
		padding: 0.8rem;
	}

	.btn__greenTop-mobile { 
		font-size: 1.25rem;
		margin-top: 0;
    	width: 17rem;
		height: auto;
	}

	.consultationBtn, .reviewBtn {
		max-width: 100%;
	}
	
	.tiles {
		grid-gap: 2rem;
	}
	
	#canvas, #dom_overlay_container {
		height: 7rem;
		max-width: 95%;
	}

	input[type="email"],
	input[type="date"],
	input[type="time"],
	.userInfo_label__email,
	.userInfo_label__date,
	.b24-form-field-email {
		display: none;
	}
}

@media (min-width: 300px) and (max-width: 768px) {
	.opinion_inner__content-specialist {
		max-height: 100%; 
	}
}

@media (min-width: 320px) and (max-width: 1200px) {
	.fastMenu {
		display:none;
	}
}

@media (min-width: 425px) and (max-width: 1024px) {
	.hint {
		display: none;
	}

	a.tip:hover span {
		left: 0;
	}
	.disease__block__inner {
		padding: 0;
	}
	.availability__block {
		padding: 0;
		gap: 0;
	}
}

@media (min-width: 425px) and (max-width: 1024px) and (orientation: landscape) {
	.navMenu_item { 
		padding: 0!important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.header_fluid__info { 
		order: 2; 
	}
	.phone { 
		flex: 0 23rem; 
	}
	.phoneListWrap { 
		font-size: 1.5rem; 
	}
	.address { 
		flex-direction: row; 
	}
	.transportSchema {
		margin-top: 0;
	}
	.addressTop, .time {
		display: flex;
		align-items: center;
		gap: 2rem;
		justify-content: flex-start;
		width: 100%;
	}

	.burger {
		width: 9%;
		&_top {
			width: 90%;
			a {
				margin-left: 0;
    			margin-right: auto;
				img {
					height: 2rem;
				}
			}
		}
	}

	.timeWork {
		flex-wrap: nowrap;
		&:before {
			background-size: 2rem;
		}
		span {
			display: flex;
		}
	}
	
	.infoTop {
		flex-wrap: nowrap;
	}
}

@media (max-width: 321px) { 
	.time { display: none }
	
	.addressTop { flex-basis: auto }

	.navMenu_item__link, .navMenu_sub__item  {
		padding: 0.5rem;
	}
}

@media (max-width: 375px) {
	.opinion_inner iframe {
		height: 19.6rem;
	}
}

@media (max-width: 426px) {
	.nonresident_list__item-content--text { 
		flex: auto;
	}
	.dms_outer{
		justify-content: center;
	}
	.opinion_inner iframe {
		height: 22.2rem;
	}
}

@media (min-width: 500px) {
	.articles__filter-apply,
	.articles__filter-close {
		display: none;
	}
}

@media (max-width: 500px) {
	.bx-searchtitle {
		margin-top: 2rem;
	}

	.articles {
		h1 {
			font-size: 2.6rem;
			font-weight: 500;
			line-height: 3.2rem;
			margin-bottom: 3.2rem;
			margin-top: 4rem;
		}

		&__error {
			font-size: 1.6rem;
			line-height: 2rem;
			img {
				margin-top: 4rem;
				width: 80%;
			}
		}

		&__errorHeader {
			font-size: 1.8rem;
			line-height: 2.2rem;
		}

		&__filter {
			display: none;
			background-color: $white;
			position: absolute;
			top: -6rem;
			left: 0;
			padding: 1.2rem;
			z-index: 999;
			&-modalWrap {
				display: none;
				background-color: rgba(34, 34, 34, 0.25);
				position: fixed;
				inset: 0;
				z-index: 998;
			}

			&-apply {
				border-radius: $brd-radius;
				font-size: 1.6rem;
				font-weight: 500;
				line-height: 2rem;
				margin-bottom: 2.8rem;
				padding: 1.8rem 1.6rem;
				width: 100%;
				text-align: left;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&:after {
					content:'';
					background: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6538 15.6538C13.7169 15.6538 12.925 15.3303 12.278 14.6835C11.6312 14.0365 11.3077 13.2446 11.3077 12.3078C11.3077 11.3708 11.6312 10.5788 12.278 9.932C12.925 9.285 13.7169 8.9615 14.6538 8.9615C15.5908 8.9615 16.3827 9.285 17.0295 9.932C17.6765 10.5788 18 11.3708 18 12.3078C18 13.2446 17.6765 14.0365 17.0295 14.6835C16.3827 15.3303 15.5908 15.6538 14.6538 15.6538ZM14.6528 14.1538C15.1624 14.1538 15.5977 13.9737 15.9587 13.6135C16.3196 13.2532 16.5 12.8183 16.5 12.3088C16.5 11.7991 16.3198 11.3638 15.9595 11.0028C15.5993 10.6419 15.1644 10.4615 14.6547 10.4615C14.1451 10.4615 13.7098 10.6417 13.349 11.002C12.9882 11.3622 12.8077 11.7971 12.8077 12.3068C12.8077 12.8164 12.9878 13.2517 13.348 13.6125C13.7083 13.9733 14.1433 14.1538 14.6528 14.1538ZM1.5 13.0578V11.5578H12.1155V13.0578H1.5ZM3.34625 7.0385C2.40925 7.0385 1.61733 6.715 0.9705 6.068C0.3235 5.42117 0 4.62925 0 3.69225C0 2.75542 0.3235 1.9635 0.9705 1.3165C1.61733 0.669669 2.40925 0.346252 3.34625 0.346252C4.28308 0.346252 5.075 0.669669 5.722 1.3165C6.36883 1.9635 6.69225 2.75542 6.69225 3.69225C6.69225 4.62925 6.36883 5.42117 5.722 6.068C5.075 6.715 4.28308 7.0385 3.34625 7.0385ZM3.34525 5.5385C3.85492 5.5385 4.29017 5.35834 4.651 4.998C5.01183 4.63784 5.19225 4.20292 5.19225 3.69325C5.19225 3.18359 5.01217 2.74834 4.652 2.3875C4.29167 2.02667 3.85675 1.84625 3.34725 1.84625C2.83758 1.84625 2.40225 2.02634 2.04125 2.3865C1.68042 2.74684 1.5 3.18175 1.5 3.69125C1.5 4.20092 1.68017 4.63625 2.0405 4.99725C2.40067 5.35809 2.83558 5.5385 3.34525 5.5385ZM5.8845 4.44225V2.94225H16.5V4.44225H5.8845Z' fill='%23222222'/%3E%3C/svg%3E%0A") center / contain no-repeat;
					display: block;
					width: 1.8rem;
					height: 1.6rem;
				}
			}

			&-close {
				font-size: 2.2rem;
				font-weight: 500;
				line-height: 2.4rem;
				text-transform: uppercase;
				padding: 2rem 0;
				color: #222222;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			&-closeBtn {
				background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22749 9.83653L0.164062 8.7731L3.93716 5L0.164062 1.2519L1.22749 0.188477L5.00059 3.96158L8.74869 0.188477L9.81211 1.2519L6.03901 5L9.81211 8.7731L8.74869 9.83653L5.00059 6.06343L1.22749 9.83653Z' fill='%235A6970'/%3E%3C/svg%3E%0A") center / contain no-repeat;
				display: block;
				height: 0.96rem;
				width: 0.96rem;
			}
		}
		&__filterHeader {
			padding: 2rem 0;
		}
		&__filterCategory {
			padding: 2rem 0;
			b {
				font-size: 1.2rem;
				line-height: 1.6rem;
				text-transform: uppercase;
			}
		} 
		&__filterShowMore {
			margin-top: 1rem;
		}
	}

	.search {
		width: 100%;
	}

	.articles__inner-item {
		max-width: 100%;
	}

	.video {
		&__sidebar, &__other {
			max-width: 100%;
		}
		
		&__otherPic {
			height: 19.2rem;
		}
		&__methods {
			margin: 3.2rem 0 0 0;
		}
	}

	.licencies {
		&__social,
		&__text {
			flex: 1 100%;
		}
	}

	.sendWrap {
		margin-top: 1.5rem;
		border-bottom: 0.1rem solid $black;
		p {
			font-size: 1.4rem;
		}
	}

}

@media (max-width: 576px) {
	.articles, 
	.methods,
	.testimonials,
	.videoreviews {
		&_slider {
			&__item {
				&-video {
					&--bg {
						height: 32rem;
					}
				}
			}
		}
		&__nav {
			&-item {
				flex: 1 1 48%;
			}
		}
	}
	
	.guide, .methods_list, .promo_list, .reviews_list {
		justify-content: center;
		margin: 0;
	}

	.specialists_list {
		justify-content: center;
	}

	.diseases_search input {
		background-position: 1rem;
	}

	.methods_slider__nav, 
	.testimonials_slider__nav, 
	.videoreviews_slider__nav { 
		display: none;
	}
	
	.accordion {
		margin: 0 -1.5rem;
	}
	
	.table-cell {
		word-break: break-all;
	}
	
	.specialist_annotation {
		flex-flow: wrap column;
	}
	
	.reviews_item__photo {
		width: 25rem;
	}

	.sendReviewOuter{
		margin: 0;
	}

	.navRounds-item {
		margin: 1rem 0;
	}

	.aboutCenterInfo, 
	.activity {
		h1, h2 {
			font-size: 2.5rem;
		}
	}

	.articlePrice_header:before {
		left: -4.1rem;
	}

	.articlesItem .articlesPhoto, .articlesItem_photo, .saleItem .articlesPhoto, .saleItem_photo, .methodItem{
		margin: 0 -1.5rem;
	}

	.articlesDesc {
		padding: 1rem 0 0 0;
		img {
			width: 100%;
			margin: 0 0 1rem 0;
		}
	}

	.articlePrice, .articleRead, .articleImportant, .articleFaq {
		&_header {
			width: auto;
			text-align: right;
			padding-right: 1rem;
		}
	}

	.articleWrap {
		font-size: 1.6rem;
		line-height: 2rem;
		&_nav {
			margin: 1rem -1.5rem;
		}
		h1 {
			font-size: 2.6rem;
			line-height: 3.2rem;
		}
	}

	.slick-slide, .slick-list {
		margin: 0;
	}

	.video {
		&__content {
			h1 {
				font-size: 2.2rem;
				font-weight: 500;
				line-height: 2.4rem;
				margin: 1.6rem 0;
			}
		}
	}

	.youtube .play {
		background-size: 6rem 6rem;
		&:hover {
			background-size: 7rem 7rem;
		}
	}

	.reviewsBlock {
		&__head {
			margin-top: 0;
		}
		
		&__img {
			img {
				max-width: none;
			}

		}
	}

	.newsBlock, .fondsBlock, .videoBlock {
		margin: 12rem 0 4.8rem 0;
	}

	.articlesBlock, .methodsBlock, .onlineConsultationBlock {
		margin: 4.8rem 0;
	}

	.onlineConsultationBlock {
		padding: 1.6rem;
	}

	.newsBlock, .articlesBlock, .fondsBlock, .methodsBlock, .videoBlock, .reviewsBlock {
		&__header {
			padding: 2rem 1.6rem;
		}
		&__control {
			margin-top: 0;
			gap: 2.4rem;
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}
		.btn_white {
			width: 100%;
		}
	}

	.stayPatient {
		&__header {
			padding: 2rem 1.6rem;
		}
		&__steps {
			gap: 1.6rem;
			&-item {
				padding: 2rem 1.6rem;
			}
		}
		&__form {
			margin-top: 3.2rem;
		}
		&__anotherCity {
			padding: 2rem 1.6rem;
			min-height: 45.6rem;
			background-position: right bottom;
			.col-lg-6 {
				padding: 0;
			}
			.btn_green {
				width: 100%;
			}
		}
	}

	.articlePic {
		flex: 1 1 100%;
		margin: 0 -1.5rem;
	}

	.articleAnnounce,
	.opinion_inner__content-specialist--desc {
		padding: 0 0 1rem 0;
	}

	.opinion_inner__content-specialist,
	.opinion_outer {
		margin: 0;
	}
	
	.articleWrap_statistics__desc, 
	.videoreviews_slider__nav-link, 
	.testimonials_slider__nav-link, 
	.methods_slider__nav-link, 
	.articles_slider__nav-link,
	.articleWrap_map__cities-item, 
	.saleItem__link, 
	.articlesItem__link {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}

	.b24-widget-button-position-bottom-right {
		bottom: 1rem!important; 
		right: 0.5rem!important;
	}

	.saleItem_desc { 
		height: auto;
		padding: 0; 
	}

	.saleItem, .articlesItem { 
		flex-wrap: wrap;
		&_desc {
			h3 {
				margin: 1rem 0 0 0;
			}
		}
	}

	.submenu { 
		top: 0; 
		width: 92%; 
		margin: 0 auto;
	}

	.citySelect, .timeWork, .transportSchema { 
		font-size: 1.4rem;
	}

	.method_nav__item, .disease_nav__item { 
		flex: 1 100%; 
	}

	.btn__greenTop, .phoneListWrap {
		font-size: 1.5rem;
	}

	.sort, .disease_nav__item { 
		flex: 1 100%!important; 
	}

	.phone { 
		flex-direction: row;
	}

	.phoneList { 
		letter-spacing: 0; 
	}

	.navRounds { 
		right: 4%; 
		bottom: 0;
		top: 40%; 
	}

	.personalItem__inner {
		img { 
			height: 44rem; 
		}
	}

	.newsItem { 
		padding: 1rem;
		margin: 0 0 1rem 0;
	}

	.newsDesc {
		justify-content: center;
	}

	.personalItem__desc {
		&-link, 
		&-btn{
			position: relative;
			padding: 1rem;
			height: auto;
		}
		
		p {
			margin-bottom: 3rem;
			line-height: 1.8rem;
		}
	}

	.nonresident_list__item-content--text {
		padding-left: 0;
	}

	.nonresident_reviews__item-desc p { 
		line-height: 1.8rem;
	}

	.specialist_annotation__desc {
		padding: 0;
	}
}

@media (max-width: 1024px) {
	.burger {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		&_top {
			display: flex;
		}
	}

	.logo, 
	.btn__greenTop, 
	.cloud,  
	.phoneListWrap,
	#sliderTop {
		display: none;
	}

	.navMenu {
		display: none;
		position: static;
		height: auto;
		width: 100%;
		&_item {
			text-align: center;
			padding: 0;
			border-bottom: 0.1rem solid #EAEAEB;
			&__link {
				padding: 0.8rem;
			}
		}
		&_sub {
			display: none;
			position: static;
			background: $white;
			&__item {
				padding: 0.5rem;
			}
		}
	}

	.navMenu_item:hover .navMenu_sub {
		flex-direction: column;
	}

	.popup {
		width: 100%;
		font-size: 1.5rem; 
	} 

	.articleWrap_parents__head h2 {
		font-size: 1.7rem;
	}

	.headerWrap { 
		height: 3rem; 
	}

	.navOuter {
		background-color: $white;
		display: flex;
        flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: space-between;
    }

	.sticky {
		overflow-y: scroll;
	}

	.right_column h2, .nonresident_list h3, .nonresident h3 { 
		font-size: 1.5rem;
		line-height: 1.8rem; 
		margin-bottom: 0;
	}

	.phone { 
		order: 2;
	}

	.fixed_phone { 
		display: flex;
	}

	.nav label {
		display: flex;
		justify-content: flex-end;
	}

	.menu {
		text-align: center;
		width: 100%;
		display: none;
		li {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 0.1rem solid #EAEAEB;
		}
		a {
			display: flex;
			margin: 0;
			font-size: 1.5rem;
			justify-content: center;
			align-items: center;
			height: 3.7rem;
		}
	}

	.menuList {
		flex-direction: column;
		justify-content: center;
	}

	#toggle:checked + .menu {
		display: flex;
		flex-direction: column;
		height: 100vh;
		flex-wrap: wrap;
		background: rgba(0,0,0,0.7)
	}

	.sliderTopText h1 {
		font-size: 2rem;
	}

	.personalCards, 
	.sliderNewsWrap, 
	.sliderReviewsWrap {
		padding: 1rem 0;
	}

	.headingPag {
		flex-direction: column;
		max-width: 50%;
		min-width: 25%;
	}

	.reviewBtn {
		margin-bottom: 2rem;
	}

	.licencies {
		gap: 1.6rem;
	}

	.warning {
		padding: 2.1rem 0 3.2rem 0;
	}
	
	.navBottom {
		margin: 2rem 0 0 0;
		padding: 0;
		li {
			margin-bottom: 0;
		}
		&__submenu {
			li {
				padding: 0;
			}
		}
	} 

	.newsItemPhoto {
		height: 21rem;
		background-size: contain;
		background-position: bottom;
	}

	.salesHead, 
	.methodsHead, 
	.reviewsHead, 
	.articlesHead,
	.newsHead,
	.specialistsHead {
		margin-top: 1.5rem;
		align-items: center;
		flex-wrap: nowrap;

		h2 {
			font-size: 1.7rem;
			line-height: 2rem;
			margin: 0;
		}
	}

	.countSales, 
	.countMethods, 
	.countReviews, 
	.countArticles,
	.countSpecialists {
		text-align: center;
		font-size: 1.5rem;
	}

	.allSales, 
	.allSpecialists,
	.allNews,
	.allMethods, 
	.allReviews, 
	.allArticles {
		border-left: 0.2rem solid;
	}

	.reviewsDesc {
		line-height: 1.8rem;
	}

	.footerWrap {
		background:none;
		position: relative;
		bottom: 0;
        padding-top: 9.2rem;
	}

	.trees {
		background-image: url(images/trees/default_trees2.jpg);
	}

	.warning {
		font-size: 1.8rem;
		line-height: 2.2rem;
	}

	.faq {
		line-height: 2rem;

		&__questions {
			h1 {
				border-bottom: none;
				font-size: 2.6rem;
				font-weight: 500;
				line-height: 3.2rem;
				padding-bottom: 2.4rem;
			}
			&-item {
				font-size: 1.8rem;
				font-weight: 400;
				line-height: 2.2rem;
				padding: 1.2rem 0;
			}
		} 

		&__btn__switch {
			height: 3.2rem;
			width: 3.2rem;
			min-width: 3.2rem;
		}

		&__body {
			font-size: 1.5rem;
			line-height: 1.8rem;
		}
	
		&__topDesc {
			margin: 2.4rem 0 4rem 0;
		}
	
		&__topic-item {
			min-height: 17.6rem;
		}
	}

	.disclaimer {
		font-size: 1.2rem;
		line-height: 1.6rem;
	}

	.availability__block {
		gap: 0;
   		padding: 0 0;
	}

	.howMuch__desc__inner img {
		margin-right: 1.7rem;
		padding-left: 0;
	}

	.disease {
		&__block {
			&__inner {
				gap: 0;
				margin: 0 -1.5rem;
				padding: 0;
			}
		}
	
		&__text {
			font-size: 2rem;
			line-height: 2.4rem;
		}
	}

	.doctor {
		&__info {
			&__bigtext {
				font-size: 2rem;
				line-height: 2.5rem;
			}
			&__speciality {
				font-size: 1.5rem;
				line-height: 1.8rem;
			}
		}
		&__slider {
			margin: 1rem 0;
			&-main {
				.slick-track {
					gap:0;
				}
			}
			&__nav {
				&-item {
					font-size: 1.5rem;
					line-height: 1.8rem;
					text-align: left;
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.questionWrap {
		display: none;
	}
	body.modal-open .main-wrapper,
	body.modal-open .navRounds,
	body.modal-open #navbar.sticky,
	body.modal-open footer{
		padding-right: 1.7rem!important;
	}
}

@media (max-width: 1330px) {
	.navMenu_item__link {
		padding: 1rem 0;
	}
}

@media (max-width: 1200px) {
	.reviewsMov_item iframe { height: 54rem; }
}

@media (max-width: 1155px) {
	.btn__greenTop {
		font-size: 1.4rem;
	}

	.navMenu_item__link {
		padding: 1rem 0;
	}

	.phone {
		width: auto;
	}
}

@media (max-width: 992px) {
	.menu li a, .navBottom li a {
		font-size: 1.5rem; 
		line-height: 1.8rem; 
	}

	.navbar { 
		height: 3rem;
	}

	.reviewsMov_item iframe { 
		height: 40.5rem; 
	}
}

@media (max-width: 769px) {
	.methods_list, .specialists_list, .reviews_list, .guide {
		h3 {
			font-size: 2rem;
		}
	}
	.opinion_inner iframe {
		height: 40.5rem;
	}
}

@media (max-width: 768px) {

	.faq__feedbackText {
		flex: 1;
	}

	.doctor__slider-main .slick-track, 
	.doctor__slider-treat .slick-track {
		gap: 0;
	}

	.checkbox__outer {
		margin-top:1rem;
	}

	.doctor__slider {
		gap: 2.4rem;
	}

	.reviewsMov_item iframe { 
		height: 27.2rem; 
	}

	.opinion_inner iframe {
		height: 40.5rem;
	}

	.articleImportant_text {
		&:after {
			width: auto!important;
		}
	}
		
	.articleWrap {
		tr {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
	
		 td {
			width: 100%;
		}
	}

	.button-repost, .button-contacts, .button-phone {
		display: none;
	}

	.direction, .method { 
		&__block {
			margin: 0!important;
		}
		&__slider {
			&__photo {
				.slick-track {
					height: auto!important;
				}
			}
			&__nav {
				.slick-track {
					gap: 1rem!important;
				}
			}
		}
	}

	.sale {
		&__counter {
			flex:100%!important;
		}
		&__warning {
			height:auto!important;
			&__symbol {
				height:6rem;
			}
		}
	}

	.methodsHead {
		h3 {
			font-size: 1.4rem;
			line-height: 1.6rem;
			margin: 0;
		}
	}
		
}

@media (max-width: 600px) {
	.author {
		&__expert, &__speciality {
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
		&__name {
			font-size: 1.4rem;
			line-height: 1.6rem;
			margin-bottom: 0.6rem;
		}
		&__link {
			margin-top: 2rem;
		}
		&__text {
			span {
				display: none;
			}
		} 
	} 
}