/* важные мысли в  тексте */
p.tit5 { color: $blue; z-index: 994; position: relative; }

/* важные мысли в тексте */
p.tit4 { color: #98B602; z-index: 994; position: relative; }  

/* еще какие то мысли: */

.tit2, .tit4 {
	background-color: #EEFDCB;
	border-radius: $brd-radius;
	font-size: 1.8rem;
	line-height: 2.4rem; 
	margin: 3.2rem 0;
	padding: 2.4rem;
	position: relative;
}

.tit6 {
	background-color: #eefdcb;
	border-radius: 0.4rem;
	color: #7d9600;
	font-size: 1.8rem;
	line-height: 2.4rem; 
	margin: 3.2rem 0;
	padding: 2.4rem;
	position: relative;
}

.blue-box {
	background-color: #e5f4f9;
	border-radius: $brd-radius;
	color: $blue;
	font-size: 1.8rem;
	line-height: 2.4rem;
	margin: 3.2rem 0;
	padding: 2.4rem;
	position: relative;
	text-align: center;
}

p.tit3 {
	background-color: #7D9600;
	border-radius: $brd-radius;
	color: $white;
	margin: 3.2rem 0;
	padding: 2.4rem;
	position: relative;
}

p.tit7 { 
	font-size: 1rem;
}

p.tit1 {
	background-color: $turquoise;
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 1.5rem;
    padding: 1.8rem;
}

.texting {
	h3 {
		text-transform: uppercase;
	}
	
	img {
		max-width: 100%;
	}
}

/* для БФ */
.insurance p {
	font-size: 16px;
    line-height: 24px;
}

.insurance_card__img {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 100%;
	width: 100%;
	filter: grayscale(100%);
	min-height: 17rem;
	&:hover { 
		filter: grayscale(0%);
		transition: 0.75s ease-in-out;
	} 
}