.select {
    &-button {
        border: 0.2rem solid $blue-1;
        border-radius: 0.4rem;
        width: 100%;
        min-width: 29rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.2rem;
        padding: 1.6rem;
        color: $blue-1;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: inherit;
    }
    &-dropdown {
        border-radius: 0.4rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.2rem;
        z-index: 1;
        position: absolute;
        list-style: none;
        width: 100%;
        background-color: $white;
        border: 0.2rem solid $blue-1;
        margin-top: 0.4rem;
        max-height: 39rem;
        overflow-y: auto;
        transition: 0.5s ease;
        transform: scaleY(0);
        opacity: 0;
        visibility: hidden;
        li {
            position: relative;
            cursor: pointer;
            label {
                font-weight: 400;
            }
        }
    }
}
  
.selected-value {
    color: #5A6970;
	text-align: left;
    font-size: 1.8rem;
    line-height: 2.2rem;
}
  
.arrow {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8L0 1.51351L1.4 0L6 4.97297L10.6 1.86789e-06L12 1.51352L6 8Z' fill='%235A6970'/%3E%3C/svg%3E%0A");
	background-size: contain;
	width: 1.2rem;
	height: 0.8rem;
	display: flex;
	margin-left: 4rem;
}

.option {
	&-label {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 1.6rem 0;
        text-decoration: none;
	}
	&-number {
		position: absolute;
		right: 1.6rem;
	}
}
  
.select-dropdown::-webkit-scrollbar {
	width: 0.7rem;
}

.select-dropdown::-webkit-scrollbar-track {
	background: #f1f1f1;
}
  
.select-dropdown::-webkit-scrollbar-thumb {
	background: #ccc;
}
  
.select-dropdown li:hover,
.select-dropdown input:checked ~ label {
	background-color: #C7EDF9;
	color: $blue-1;
  }

.select-dropdown li:hover,
.select-dropdown input:checked ~ span {
	color: $blue-1;
}
  
.select-dropdown input:focus ~ label {
	background-color: #C7EDF9;
	color: $blue-1;
}
  
.select-dropdown input[type="radio"] {
	position: absolute;
	left: 0;
	opacity: 0;
}

.custom-select {
	position: relative;
	max-width: 33.6rem;
	color: $blue-1;
}

/* interactivity */
.custom-select.active {
    .arrow {
        transform: rotate(180deg);
    }
    .select-button {
        background-color: $white;
    }
    .select-dropdown {
        opacity: 1;
	    visibility: visible;
	    transform: scaleY(1);
    }
    .selected-value {
        color: $blue;
    }
}