.sectificates {
    margin-bottom: 2rem;
    &__title {
        margin: 1rem 0;
    }
    .sectificates__slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 1rem;
        &-main {
            width: calc(100% - 18rem);
            padding: 0 4rem;
            background-color: $footer-green;
            img {
                margin: 0 auto;
                max-width: 100%;
            }
        }
    }
    .sectificates__slider-nav {
        width: 11rem;
        &__slide {
            margin: 0;
            border: 0.2rem solid #b8b8b8
        }
        .slick-list {
            margin: 0;
        }
    }
    .slick-arrow {
        position: absolute;
        font-size: 0;
        left: 1rem;
        cursor: pointer;
        top: 50%;
        
        &:before {
            display: none;
        }
    }
    .slick-arrow.slick-next {
        left: auto;
        right: 1rem;
        border: none;
        box-shadow: none;
    }
}


.sectificates__slider-main__slide {
    img { 
        max-width: 100%; 
    }
    .lazy {
        width: 100%; 
        height: 41.5rem; 
        background-size: contain; 
        background-repeat: no-repeat; 
        background-position: center;
    }
} 

.sectificates__slider-nav__slide .mini-images {
    height: 10rem;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}

.sectificates .sectificates__slider-nav__slide.slick-current {
    border-color: $blue;
}

.double-slider {
    margin-bottom: 4rem;
    &-main {
        padding-bottom: 0;
        margin-bottom: 1.5rem;
        border: 0.2rem solid #b8b8b8;
        img {
            max-width: 100%;
            width: 100%;
        }
        .slick-arrow {
            cursor: pointer;
            font-size: 0;
            position: absolute;
            left: 3rem;
        }
    }
}

@media screen and (max-width:991px) {
    .sectificates .sectificates__slider-main {
        width: 100%
    }

    .sectificates .sectificates__slider-nav {
        width: 100%;
        padding-bottom: 0;
        margin-top: 1.5rem;
    }
    .sectificates .sectificates__slider-nav__slide {
        margin-bottom: 0;
        margin-right: 1rem;
    }
}

@media screen and (max-width:768px) {
    .sectificates .sectificates__slider-main {
        padding: 2rem 3rem;
    }

    .sectificates .slick-arrow.slick-next {
        right: 3rem;
    }

    .double-slider-main .slick-arrow,
    .sectificates .slick-arrow {
        left: 1rem;
    }
}