.str0 {
	stroke: $green;
	stroke-width:.57;
	stroke-linecap:round;
	stroke-linejoin:round
}

.fil2,.fil3,.fil4{
	fill:none
}

.fil2{
	fill-rule: nonzero;
}

.fil0,.fil7{
	fill: $green;
}

.fil1{
	fill:#fefefe;
	fill-rule:nonzero;
}

.cross,.fil5,.fil8,.hand{
	fill:#fefefe;
}

.crosswrap,.fil6,.fil9,.hand_wrap{
	fill:$blue-1
}

.dms_outer{
	display:flex;
	flex-wrap:wrap;
	gap: 1rem;
}

.dms_icon{
	width: 27rem;
	padding:1rem 0; 
	font-size:1.3rem!important;
	font-weight:700;
	margin:1rem 0;
	cursor:pointer;
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	transition:.35s ease-in-out
}

.dms_icon svg{
	width:10rem;
	height:10rem;
	margin-bottom:1rem;
}

.dms_icon path{
	fill:$white;
	transition:.35s ease-in-out
}

.dms_icon:hover,.dms_icon:hover .dms_link__blue,.dms_icon:hover .dms_link__green{
	cursor:pointer;
	color:$white;
	transition:.35s ease-in-out;
	text-decoration:underline
}

.dms_icon:nth-child(n):hover{
	background-color:$white
}

.dms_icon:nth-child(n):hover .fil0,.dms_icon:nth-child(n):hover .fil2,.dms_icon:nth-child(n):hover .fil7{
	fill:$green
}

.dms_icon:nth-child(n):hover .fil1{
	fill:$white
}

.dms_icon:nth-child(n):hover .str0{
	stroke:$green
}

.dms_icon:nth-child(n):hover .cross,.dms_icon:nth-child(n):hover .fil8,.dms_icon:nth-child(n):hover .hand{
	fill:$white
}

.dms_icon:nth-child(n):hover .crosswrap,.dms_icon:nth-child(n):hover .fil9,.dms_icon:nth-child(n):hover .hand_wrap{
	fill:$blue-1
}

.dms_icon:nth-child(n) .fil1{
	fill:$green;
	transition:.35s ease-in-out
}

.dms_icon:nth-child(n) .str0{
	stroke:$white;
	transition:.35s ease-in-out
}

.dms_icon:nth-child(n) .cross,.dms_icon:nth-child(n) .fil8,.dms_icon:nth-child(n) .hand{
	fill:$blue-1;
	transition:.35s ease-in-out
}

.dms_icon__odd{
	background-color:$green;
	border:0.2rem solid $green;
	transition:.35s ease-in-out;
	color:$white
}

.dms_icon__odd:hover{
	color:$green
}

.dms_icon__even{
	background-color:$blue-1;
	border:0.2rem solid $blue-1;
	transition:.35s ease-in-out;
	color:$white
}

.dms_icon__even:hover{
	color:$blue-1
}

.loyal {
	fill:$white;
}
	
.dms_icon:hover .loyal {
	fill:$blue-1;
}