.trees {
	background: url(images/trees/default.png); 
	background-size: cover;
	background-repeat: no-repeat;
	height: 81rem;
    position: relative;
}

.footerWrap {
	position: absolute;
	bottom: 0;
	background: rgba(212, 235, 223, 0.7);
}

.footer {
	&__menu {
		justify-content: space-between;
	}
}

.navBottom {
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 17.6rem;
	text-transform: uppercase;

	li {
		margin-bottom: 1.6rem;
		padding: 0;
	}

	a {
		color: #365d46;
		text-decoration: none;

		&:hover{
			color: $blue;
		}
	}
	&__submenu {
		font-weight: 400;
		margin-top: 1.6rem;
	}
	&-item {
		max-width: 22rem;
		a {
			display: block;
			width: 100%;
			margin-bottom: 1.6rem;
		}
	}
}

.sendWrap {
	p {
		font-size: 1.2rem;
		font-weight: 700;
		line-height: 1.6rem;
		text-transform: uppercase;

	}
}

.reviewBtn, .consultationBtn {
	border-radius: $brd-radius; 
	border: 0.2rem solid $blue;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.6rem;
	max-width: 29.5rem;
	width: 100%;
	padding: 1rem;

	&:hover {
		cursor: pointer;
		@include transition(all 0.35s ease-in-out);
	}
}

.consultationBtn {
	background-color: $blue;
	color: $white;
	margin: 1.6rem 0 0.8rem 0;
}

.reviewBtn {
	background-color: $white;
	color: $blue;
	margin: 0 0 0.8rem 0;
}

.warning {
	color: #879399;
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.8rem;
	padding: 2.4rem 0 6rem 0;
}

.licencies {
	font-size: 1.3rem;
	line-height: 1.6rem;
	padding: 1.6rem 0;
	border-top: 0.1rem solid $black;
	border-bottom: 0.1rem solid $black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 4rem;

	b {
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 0.8rem;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.6rem;
		font-weight: 400;
		margin-top: 0.8rem;
	}

	a { 
		text-decoration: none;
	}

	&__text {
		flex:1;
	}
	&__social {
		flex:0 22rem;
		p {
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 1.8rem;
			margin-top: 0;
		}
	}
}

	.navRounds {
		position: fixed;
		top: 25%;
		right: 2%;
		transform: translateY(50%);
		z-index: 99;

		a {
			text-align: center;
		}

		&-item {
			background-color: $white;
			border: 0.2rem solid $blue;
			color: $blue;
			border-radius: 100%;
			width: 3rem;
			height: 3rem;
			margin: 1.5rem 0;
			text-align: center;

			i {
				margin-top: 0.5rem;
				font-size: 1.5rem;
			}

			&:hover {
				background-color: lighten($blue, 12%);
				cursor: pointer;
				color: $white;
				@include transition(all 0.35s ease-in-out);
			}

			&.online {
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 4C6.243 4 4 6.243 4 9C4 11.757 6.243 14 9 14C11.757 14 14 11.757 14 9C14 6.243 11.757 4 9 4ZM7.5 9C7.30295 8.99993 7.10785 8.96106 6.92582 8.88559C6.7438 8.81012 6.57842 8.69954 6.43913 8.56016C6.15783 8.27867 5.99987 7.89696 6 7.499C6.00007 7.30195 6.03894 7.10685 6.11441 6.92482C6.18988 6.7428 6.30046 6.57742 6.43984 6.43813C6.72133 6.15683 7.10304 5.99887 7.501 5.999C7.89896 5.99913 8.28056 6.15735 8.56187 6.43884C8.84317 6.72033 9.00113 7.10204 9.001 7.5C9.00087 7.89796 8.84265 8.27956 8.56116 8.56087C8.27967 8.84217 7.89796 9.00013 7.5 9Z' fill='%2300AAEA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 9C0 4.037 4.037 0 9 0C13.963 0 18 4.037 18 9C18 12.328 16.18 15.232 13.488 16.79H13.4058C15.228 17.5069 16.5544 18.6555 17 20H1C1.44559 18.6555 2.77199 17.5069 4.59423 16.79H4.513C1.82 15.232 0 12.328 0 9ZM9 16C12.859 16 16 12.859 16 9C16 5.141 12.859 2 9 2C5.141 2 2 5.141 2 9C2 12.859 5.141 16 9 16Z' fill='%2300AAEA'/%3E%3C/svg%3E%0A");
				background-position: center;
				background-size: 1.5rem;
				background-repeat: no-repeat;
				background-color: $white;
				position: relative;
				&:hover {
					background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 4C6.243 4 4 6.243 4 9C4 11.757 6.243 14 9 14C11.757 14 14 11.757 14 9C14 6.243 11.757 4 9 4ZM7.5 9C7.30295 8.99993 7.10785 8.96106 6.92582 8.88559C6.7438 8.81012 6.57842 8.69954 6.43913 8.56016C6.15783 8.27867 5.99987 7.89696 6 7.499C6.00007 7.30195 6.03894 7.10685 6.11441 6.92482C6.18988 6.7428 6.30046 6.57742 6.43984 6.43813C6.72133 6.15683 7.10304 5.99887 7.501 5.999C7.89896 5.99913 8.28056 6.15735 8.56187 6.43884C8.84317 6.72033 9.00113 7.10204 9.001 7.5C9.00087 7.89796 8.84265 8.27956 8.56116 8.56087C8.27967 8.84217 7.89796 9.00013 7.5 9Z' fill='%23FFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 9C0 4.037 4.037 0 9 0C13.963 0 18 4.037 18 9C18 12.328 16.18 15.232 13.488 16.79H13.4058C15.228 17.5069 16.5544 18.6555 17 20H1C1.44559 18.6555 2.77199 17.5069 4.59423 16.79H4.513C1.82 15.232 0 12.328 0 9ZM9 16C12.859 16 16 12.859 16 9C16 5.141 12.859 2 9 2C5.141 2 2 5.141 2 9C2 12.859 5.141 16 9 16Z' fill='%23FFF'/%3E%3C/svg%3E%0A");
					background-position: center;
					background-size: 1.5rem;
					background-repeat: no-repeat;
					background-color: $blue;
					cursor: pointer;
					@include transition(all 0.35s ease-in-out);
					.navRounds-tooltip {
						display: block;
						@include transition(all 0.35s ease-in-out);
					}
				}
			}
		}
		&-tooltip {
			background-color: $blue;
			border-radius: $brd-radius;
			color: $white;
			display: none;
			font-size: 1.6rem;
			height: auto;
			width: 22rem;
			padding: 0;
			position: absolute;
			top: -0.3rem;
			right: 3rem;
		}
	}