.breadcrumb {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	padding: 1rem 0;
	margin: 1rem 0;
	font-size: 1.5rem;
	line-height: 1.8rem;
	
	li {
		padding: 0;

		&:not(:last-child){
			&:after {
				content: '/';
				padding: 0 1rem;
			}
		}
	}
	a { 
		&:hover {
			color: $green;
		}
	}
}

.breadcrumbItem {
	a {
		text-decoration: none;
	}
	&.active{ 
		color: $green; 
	}
}