.popup-form {
	color: $blue;
	font-size: 1.5rem;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 1rem;
	border: 0.4rem dashed $blue;
	padding: 1.25rem 0;
	margin: 0 auto;

	a {
		color: $pink;
		font-size: 1.2rem!important;
		line-height: 1.2rem!important;
	}

	form {
		position: relative;
		max-width: 32rem;
		margin: auto;
	}

	h2 {
		font-size: 2rem;
		line-height: 2.3rem;;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}

	input {
		outline: none;
		width: 100%;
		font-size: 1.5rem;
	}

	textarea {
		border: 0.3rem solid $blue;
		border-radius: 1rem;
		padding: 1rem;
		width: 100%;
		font-size: 1.5rem;
	}

	.nice-select {
		font-size: 1.5rem;
		padding: 0 0.6rem;
		.option {
			font-size: 1.5rem;
		}
	}

	&-tel,
	&-name,
	&-email,
	&-filial,
	&-datetime {
		font-size: 1rem;
		line-height: 2.3rem;
		padding: 1rem 1rem 1rem 5rem;
		border: 0.3rem solid $blue;
		box-shadow: -0.7rem -0.7rem 0.9rem rgba(255, 255, 255, 0.53);
		border-radius: 1rem;
	}

	&-specialists {
		font-size: 1.5rem;
		line-height: 2.3rem;
		padding: 1rem;
		border: 0.3rem solid $blue;
		box-shadow: -0.7rem -0.7rem 0.9rem rgba(255, 255, 255, 0.53);
		border-radius: 1rem;
	}

	&-tel {
		background: url(images/diseases/input-phone.svg) left / 5rem 2rem no-repeat;
	}

	&-name {
		background: url(images/diseases/input-name.svg) left / 5rem 2rem no-repeat;
	}

	&-email {
		background: url(images/diseases/input-email.svg) left / 5rem 2rem no-repeat;
	}

	&-filial {
		background: url(images/diseases/input-filial.svg) left / 5rem 2rem no-repeat;
	}

	&-datetime {
		background: url(images/diseases/input-datetime.svg) left / 5rem 2rem no-repeat;
	}
	
	button {
		background-color: $blue;
		color: #fff;
		border-radius: 1rem;
		text-transform: uppercase;
		padding: 0.5rem;
		width: 23rem;
		height: 4.6rem;
		font-size: 1.5rem;
		font-weight: bold;
		float: right;
		position: relative;
		/*&:before {
			@include stitch(all);
		}*/
	}
}

.userInfo {
	display: flex;
	flex-wrap: wrap;
}

.hidden {
	display: none;
	overflow-y: scroll;
	position: absolute;
	z-index: 2; //994
	top: 0;
	bottom: 0;
	left: 0;
	flex-wrap: wrap;
	align-items: center;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.75);
	color: #00aaea;
	border: 0.1rem solid;
	h4 {
		text-transform: uppercase;
		font-size: 2.4rem;
		margin-bottom: 1rem;
	}
}

.overlay {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	z-index: 10150;
	overflow: hidden;
	
	&-sms--review {
		background-color: rgba(0,0,0,.65);
	}
}


body.modal-open{
	overflow: hidden;
}

.popup {
	position: absolute;
	width: 900px;
	min-width: 320px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	background-color: #fff;
	color: $blue;
	border-radius: 1rem;
	
	h1, h2 { 
		color: $blue; 
		text-align: center;
		font-family: $main-font;
	}

	h4 { 
		color: $blue; 
		text-align: left; 
		font-size: 1.25rem;
	}
	
	&__head {
		text-transform:uppercase;
		font-size:2rem;
		color: $blue;
		text-align: center;
	}

	&-specialist {
		&--outer {
			img {
				float: left;
				margin: 0 10px 10px 0;
			}
		}
		&--gift {
			color: $blue;
			text-decoration: none;
			border-bottom: 2px dashed #fff;
			padding-bottom: 0rem;
		}
	}
	&:active, 
	&:focus {
		overflow: hidden; 
	}
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;

	&:before {
		content: '';
		background-color: $blue;
		position: absolute;
		height: 1px;
		width: 31px;
		top: 11px;
		left: -4px;
		transform: rotate(-45deg); 
	}

	&:after {
		content: '';
		background-color: $blue;
		position: absolute;
		height: 1px;
		width: 31px;
		top: 11px;
		transform: rotate(45deg);
		left: -4px;
	} 
}

.hint { 
	font-size: 1rem;
}

.attention {
	font-size: 1rem;
	float: right;
	a {
		color: #fff;
	}
}


/*---- SEARCH ----*/

.search-input {
	font-size: 1.5rem!important;
	line-height: 1.8rem;
	height: auto!important;
}

.input-group {
	display: flex;
	justify-content: flex-end;
}

.form-control {
	font-size: 1rem;
	padding: 0 0.5rem;
	border-radius: 1rem 0 0 1rem;
	border: 0.1rem solid #ccc;
	padding: 0.3rem;

	&:focus {
		border-radius: 1rem 0 0 1rem;
	}
}

.btn-search {
	width: 2rem;
	height: 100%;
	background-color: $green;
	border-radius: 0 $brd-radius $brd-radius 0;
}

.btn_s {
	width: 100%;
	height: 3rem;
	padding-left: 4rem!important;
	font-size: 1.5rem;
	border-radius: $brd-radius;
	border: 0.1rem solid;
	position: relative;
	outline: none;
	background-image: url(images/icons/search.png);
	background-size: 2rem;
	background-position: 1.5rem;
	background-repeat: no-repeat;
	padding-left: 4rem;
}

.popup-sms--review {
	width: 30rem;
	
	a { 
		color: $blue
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}

	h3 {
		text-align: center;
		font-size: 1.8rem;
	}

	input, 
	textarea {
		border-radius: 0.5rem;
		border: none;
		outline: none;
		padding: 0.5rem;
		font-size: 1.5rem;
		line-height: 1.8rem;
		margin-right: 0.25rem;
	}
}

.smsForm, 
.smsForm_review {
	margin: 1rem 0 0 0;
	height: 100%;
	border-radius: 1rem; 
}

.smsForm__label { 
	margin: 0 0 0.75rem;
}

.smsForm_review {
	display: none;
}

.smsForm_tel, .smsForm_num, .smsForm_txt {
	border-radius: 0.5rem;
	border: none;
	outline: none;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: 1.5rem;
}

.smsForm__label {
	line-height: 1;
}

.smsForm_btn {
	border-radius: 1rem; 
	text-transform: uppercase; 
	border: none;
	background-color: $blue;
	color: #fff;
	width: 23rem;
	height: 4.6rem;
	font-size: 1.5rem;
	font-weight: 700;
}

#result_form {
	padding: 0.5rem;
	margin-bottom: 1rem;
}

/* CHECKBOX */

.option {
	height: 2rem;
	position: relative;

	p {
		margin: 0 0 1.2rem 1.2rem;
	}
	
	&_tooltip {
		position: absolute;
		padding: 1rem;
		top: 1rem;
		right: 0;
		background-color: rgba(0,0,0,0.65);
		width: 80%;
		color: #fff;
		border-radius: 1rem;
		display: none;
		z-index: 1;

		&:before{
			position: absolute;
			top: 0;
			right: 1rem;
			width: 1rem;
			height: 1rem;
			background-color: #fff;
		}
	}
}

.checkbox__outer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	input[type='checkbox']{
		width: auto;
		cursor: pointer;
		border: none;
	}

	label {
		margin-left: 1rem;
		cursor: pointer;
		line-height: 1;
		font-size: 1.1rem;
		height: 100%;
	}
}

.check {
	padding-left: 2rem;
	&__input {
		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		position: absolute;
		&:checked + .check__box {
			background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='28' height='28' fill='white' stroke='%2300AAEA' stroke-width='2'/%3E%3Cg clip-path='url(%23clip0_137_486)'%3E%3Cpath d='M23.9131 7.17099C23.5776 6.83428 23.0275 6.83428 22.692 7.17099L12.5351 17.3255L7.30426 12.0589C6.96877 11.721 6.42238 11.721 6.08443 12.0589L4.25161 13.8905C3.91613 14.2248 3.91613 14.7749 4.25161 15.1116L11.9196 22.8301C12.2551 23.1644 12.8015 23.1644 13.1407 22.8301L25.7447 10.2249C26.0851 9.88815 26.0851 9.33683 25.7447 8.99888L23.9131 7.17099Z' fill='%23FE5369'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_137_486'%3E%3Crect width='22' height='22' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}
		&:focus:checked + .check__box {
			border: 0.1rem solid #000;  
		}
		&:focus + .check__box {
			border: 0.1rem solid #000;   
		}
	}

	&__box {
		margin-left: -2.5rem;
		position: absolute;
		width: 3rem;
		height: 3rem;
		cursor:pointer;
		background-image: url("data:image/svg+xml,%0A%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='28' height='28' fill='white' stroke='%2300AAEA' stroke-width='2'/%3E%3C/svg%3E%0A");
	}
}

/* bubble speech */

a.tip:hover {
	cursor: help;
	position: relative
}
a.tip span {
	display: none
}
a.tip:hover span {
	display: block;
	z-index: 100;
	background: rgba(0,0,0,0.65);
	color: #fff;
	left: 0;
	margin: 1rem;
	padding: 1rem;
	width: 30rem;
	border-radius: 1rem;
	position: absolute;
	top: 1rem;
	text-decoration: none
}

#dispatch-value {
	position: absolute;
	right: 1.5rem;
	top: -0.2rem;
}

.flag-icon {
	width: 2.4rem;
	height: 2.4rem;
	&--wrap {
		position: relative;
	}
}

.sendWhite {
	padding: 2.5rem;
	margin-bottom: 4rem;

	h3 {
		margin: 0 0 1.5rem 0;
		font-size: 2rem;
		line-height: 2.3rem;
		text-align: center;
	}

	&__form {
		display: flex;
		gap: 1.8rem;
		justify-content: center;
		flex-wrap: wrap;

		&-tel,
		&-name,
		&-email,
		&-filial,
		&-datetime {
			font-size: 2rem;
			line-height: 2.3rem;
			padding: 1rem 1rem 1rem 5rem;
			border: 0.3rem solid $blue;
			border-radius: 1rem;
		}
		&-time {
			font-size: 2rem;
			line-height: 2.3rem;
			padding: 1rem;
			border: 0.3rem solid $blue;
			border-radius: 1rem;
		}

		&-tel {
			background: url(images/diseases/input-phone.svg) left / 5rem 2rem no-repeat;
		}

		&-name {
			background: url(images/diseases/input-name.svg) left / 5rem 2rem no-repeat;
		}

		&-email {
			background: url(images/diseases/input-email.svg) left / 5rem 2rem no-repeat;
		}

		&-filial {
			background: url(images/diseases/input-filial.svg) left / 5rem 2rem no-repeat;
		}

		&-datetime {
			background: url(images/diseases/input-datetime.svg) left / 5rem 2rem no-repeat;
		}
	}

	&__inputs {
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: space-between;
		input, button {
			width: 30rem;
		}
		.checkbox__outer {
			flex: 0 1 62.5rem;
		}
	}

	&__socials {
		display: flex;
		gap: 1.5rem;
		&-item {
			text-decoration: none;
		}
	}
}